@charset "utf-8";

#clanwar-table {
    .notes {
        cursor: pointer;
        &:hover,
        &:focus,
        &:active {
            outline: 0;
        }
    }

    // Opaque icons
    .notes,
    .admin-view {
        opacity: .7;
        &:hover {
            opacity: 1;
        }
    }
    .admin-view {
        visibility: hidden;
    }
    & tr:hover .admin-view {
        visibility: visible;
    }
}