{% extends 'sc2clanman/base.html' %}
{% load i18n staticfiles sc2cm countries %}
{% comment %}

template for members list.

{% endcomment %}

{% block bodyclass %}member-list{% endblock bodyclass %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <p>{% blocktrans %}SC2CM has a simple JSON API which you can be use to display it's data in your applications.{% endblocktrans %}</p>
            <hr>

            <h1>GET /api/player/:keyword</h1>
            <p>Get information about a player who'se name matches the supplied keyword!</p>
            <p>{% blocktrans %}Sample request{% endblocktrans %}:</p>
            <pre>curl http://host/api/player/pundurs</pre>
            <p>{% trans "Response" %}:</p>
            <pre>
                {
                  "message": "Success",
                  "player": {
                    "rank": 47,
                    "wins": 74,
                    "join_date": "30/11/2015",
                    "country": "Latvia",
                    "region": 1,
                    "bnet_profile_url": "http://eu.battle.net/sc2/en/profile/3568824/1/pundurs/",
                    "score": 348,
                    "losses": 70,
                    "race": "Terran",
                    "ladder_name": "Daggoth Delta",
                    "last_game": "17/04/2016",
                    "twitch_url": "http://twitch.tv/pundurs/",
                    "league": "Diamond",
                    "ladder_id": 181986,
                    "winrate": 51.39,
                    "bnet_id": 3568824,
                    "total_games": 144,
                    "name": "pundurs",
                    "twitch_username": "pundurs"
                  }
                }
            </pre>
            <hr>

            <h1>GET /api/top/</h1>
            <p>{% blocktrans %}Get the top 10 players by ladder points.{% endblocktrans %}</p>
            <p>{% blocktrans %}Sample request{% endblocktrans %}</p>
            <pre>curl http://host/api/top/</pre>
            <p>{% trans "Response" %}</p>
            <pre>
                {
                  "message": "Success",
                  "players": [{
                    "name": "Axel",
                    "join_date": "30/11/2015",
                    "ladder_name": "Arcturus Victor",
                    "bnet_id": 3638925,
                    "bnet_profile_url": "http://eu.battle.net/sc2/en/profile/3638925/1/Axel/",
                    "twitch_username": "",
                    "race": "Zerg",
                    "score": 1119,
                    "rank": 8,
                    "region": 1,
                    "ladder_id": 181420,
                    "winrate": 51.16,
                    "losses": 105,
                    "last_game": "29/04/2016",
                    "country": "",
                    "total_games": 215,
                    "twitch_url": "",
                    "league": "Masters",
                    "wins": 110
                  }, {
                    "name": "SkUll",
                    "join_date": "13/12/2015",
                    "ladder_name": "Valkyrie Tango",
                    "bnet_id": 6764236,
                    "bnet_profile_url": "http://eu.battle.net/sc2/en/profile/6764236/1/SkUll/",
                    "twitch_username": "",
                    "race": "Protoss",
                    "score": 997,
                    "rank": 10,
                    "region": 1,
                    "ladder_id": 181709,
                    "winrate": 54.29,
                    "losses": 112,
                    "last_game": "28/04/2016",
                    "country": "",
                    "total_games": 245,
                    "twitch_url": "",
                    "league": "Masters",
                    "wins": 133
                  }, {
                    "name": "Ogurec",
                    "join_date": "30/11/2015",
                    "ladder_name": "Horner Charlie",
                    "bnet_id": 376079,
                    "bnet_profile_url": "http://eu.battle.net/sc2/en/profile/376079/2/Ogurec/",
                    "twitch_username": "",
                    "race": "Protoss",
                    "score": 991,
                    "rank": 25,
                    "region": 2,
                    "ladder_id": 175929,
                    "winrate": 54.51,
                    "losses": 116,
                    "last_game": "11/12/2015",
                    "country": "Russia",
                    "total_games": 255,
                    "twitch_url": "",
                    "league": "Masters",
                    "wins": 139
                  }

                ...
            </pre>
            <hr>

            <h1>GET /api/cw/</h1>
            <p>{% blocktrans %}Get a list of upcoming clan wars.{% endblocktrans %}</p>
            <p>{% blocktrans %}Sample request{% endblocktrans %}</p>
            <pre>curl http://host/api/cw/</pre>
            <p>{% trans "Response" %}</p>
            <pre>
            {
              "message": "Success",
              "clanwars": [{
                "notes": "",
                "ingame_channel": "ggvsecv",
                "id": 2,
                "opponent": "ECV",
                "players": [],
                "datetime": "02/05/2016 1:20 a.m."
              }, {
                "notes": "Here are\r\n\r\nsome coupole notesx.",
                "ingame_channel": "GGvsisIMBA",
                "id": 1,
                "opponent": "IsIMBA",
                "players": [{
                  "total_games": 1,
                  "twitch_url": "",
                  "wins": 1,
                  "bnet_profile_url": "http://eu.battle.net/sc2/en/profile/1834593/1/Altaeron/",
                  "twitch_username": "",
                  "league": "Diamond",
                  "join_date": "30/11/2015",
                  "score": 0,
                  "ladder_id": 181361,
                  "ladder_name": "Duran Romeo",
                  "race": "Zerg",
                  "country": "Latvia",
                  "last_game": "29/04/2016",
                  "losses": 0,
                  "rank": 95,
                  "name": "Altaeron",
                  "bnet_id": 1834593,
                  "winrate": 100.0,
                  "region": 1
                }, {
                  "total_games": 175,
                  "twitch_url": "",
                  "wins": 90,
                  "bnet_profile_url": "http://eu.battle.net/sc2/en/profile/307505/1/Andersone/",
                  "twitch_username": "",
                  "league": "Masters",
                  "join_date": "13/12/2015",
                  "score": 720,
                  "ladder_id": 182461,
                  "ladder_name": "Hydralisk Echo",
                  "race": "Protoss",
                  "country": "",
                  "last_game": "29/04/2016",
                  "losses": 85,
                  "rank": 18,
                  "name": "Andersone",
                  "bnet_id": 307505,
                  "winrate": 51.43,
                  "region": 1
                }],
                "datetime": "02/05/2016 12:14 a.m."
              }]
            }
            </pre>
        </div>
    </div>
</div>
{% endblock content %}