{% extends 'sc2clanman/base.html' %}
{% load i18n staticfiles sc2cm countries %}
{% comment %}

template for members list.

{% endcomment %}

{% block bodyclass %}member-list{% endblock bodyclass %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <p>{% blocktrans %}SC2CM has a simple JSON API which you can be used to put display it's data in simple applications.{% endblocktrans %}</p>
            <hr>

            <h1>GET /api/player/:keyword</h1>
            <p>Get information about a player who'se name matches the supplied keyword!</p>
            <p>{% blocktrans %}Sample request{% endblocktrans %}:</p>
            <pre>curl http://host/api/player/pundurs</pre>
            <p>{% trans "Response" %}:</p>
            <pre>
                {
                  "message": "Success",
                  "player": {
                    "rank": 47,
                    "wins": 74,
                    "join_date": "30/11/2015",
                    "country": "Latvia",
                    "region": 1,
                    "bnet_profile_url": "http://eu.battle.net/sc2/en/profile/3568824/1/pundurs/",
                    "score": 348,
                    "losses": 70,
                    "race": "Terran",
                    "ladder_name": "Daggoth Delta",
                    "last_game": "17/04/2016",
                    "twitch_url": "http://twitch.tv/pundurs/",
                    "league": "Diamond",
                    "ladder_id": 181986,
                    "winrate": 51.39,
                    "bnet_id": 3568824,
                    "total_games": 144,
                    "name": "pundurs",
                    "twitch_username": "pundurs"
                  }
                }
            </pre>
        </div>
    </div>
</div>
{% endblock content %}