{% load i18n staticfiles admin_urls sc2cm %}
{% comment %}

Base template.

{% endcomment %}
<!DOCTYPE html>
{% get_current_language as ACTIVELANGUAGE %}
<html lang="{{ ACTIVELANGUAGE }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Clan management</title>

        {% if debug %}
        <link href="{% static 'css/main.dev.css' %}" rel="stylesheet">
        {% else %}
        <link href="{% static 'css/main.min.css' %}?v={{ version }}" rel="stylesheet">
        {% endif %}
        <!--[if lt IE 9]>
             <script src="//cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script>
             <script src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body class="{% block bodyclass %}{% endblock bodyclass %}">
    {% if user.is_authenticated %}
        {% if user.is_superuser or user.is_staff %}
            <nav class="navbar navbar-inverse navbar-fixed-top" id="admin-navbar">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#admin-navbar" aria-expanded="false">
                            <span class="sr-only">{% trans 'Toggle navigation' %}</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/">{% trans 'Clan Management' %}</a>
                    </div>
                    <div class="collapse navbar-collapse" id="admin-navbar">
                        <ul class="nav navbar-nav">
                            <li class="{% active request.path '^/$' %}"><a href="/">{% trans 'Members' %}</a></li>
                        </ul>
                        <p class="navbar-text navbar-right">Hi, {{ user.username }}! Go to <a href="{% url opts|admin_urlname:'changelist' %}">admin</a></p>
                    </div>
                </div>
            </nav>
        {% endif %}
    {% endif %}
{% comment %}
    <div class="row admin-row">
        <div class="col-xs-12">
        </div>
    </div>
    {% endcomment %}
    {% block content %}{% endblock content %}
    <div class="footer">
        <p>
            Made by <a href="http://twitter.com/pundurs" target="_blank">pundurs</a>. Powered by <a href="http://battle.net/" target="_blank"><img src="{% static 'ico/bnet.png' %}" alt="Battle.net" title="Battle.net"></a>
            <br><a href="https://github.com/pundurs/sc2cm" target="_blank">{% trans "Source" %}</a> | <a href="{% url 'api_docs' %}">{% trans "API" %}</a>
        </p>
    </div>
    {% comment %}
            If we are running on a modern browser, we load jQuery 2, which is faster.
            We use a conditional comment trick to load jQuery 2 anyway, even if the user isn't using IE at all
        {% endcomment %}
        <!--[if lt IE 9]>
            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <![endif]-->
        <!--[if gte IE 9]><!-->
            <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <!--<![endif]-->
        <script type="text/javascript">
            // This variable is used to set sorting functions on the right columns of the table.
            // Because the table has different columns visible, depending on, if
            var userIsAdmin = {% if is_authorized %}true{% else %}false{% endif %};
        </script>
        {% if debug %}
        {# grunt-contrib-watch livereload #}
            <!--suppress JSUnresolvedLibraryURL -->
            <script src="//localhost:35729/livereload.js"></script>
            <script src="{% static 'js/main.dev.js' %}"></script>
        {% else %}
            <script src="{% static 'js/main.min.js' %}?v={{ version }}"></script>
        {% endif %}
    </body>
</html>
