{% extends 'sc2clanman/base.html' %}
{% load i18n staticfiles sc2cm countries %}
{% comment %}

template for the clan war list.

{% endcomment %}

{% block content %}
<div class="container">
    <div class="row">
        {% if not clanwars %}
        <div class="col-xs-12 text-center">
            <h1>{% blocktrans %}No clan wars found!{% endblocktrans %}</h1>
        </div>
        {% else %}
        <table class="table" id="clanwar-table">
            <thead>
                <th>{% trans 'Date and time' %}</th>
                <th>{% trans 'Opponent' %}</th>
                <th>{% trans 'Ingame channel' %}</th>
                <th>{% trans 'Notes' %}</th>
                {% if is_authorized %}
                    <th></th>
                {% endif %}
            </thead>
            <tbody>
                {% for cw in clanwars %}
                    <tr>
                        <td><a href="{% url 'clan_war_detail' cw.id %}">{{ cw.date|date:'SHORT_DATETIME_FORMAT' }}</a></td>
                        <td>{{ cw.opponent_name }}</td>
                        <td>{{ cw.game_channel|default:'Undetermined' }}</td>
                        <td>{% if cw.notes %}<a class="notes" data-toggle="popover" data-placement="left" data-title="{% trans 'Details' %}" data-content="{{ cw.notes|linebreaks }}"><i class="fa fa-sticky-note-o" aria-hidden="true"></i></a>{% endif %}</td>
                        {% if is_authorized %}
                            <td class="admin-view"><a href="{{ cw.get_admin_url }}" target="_blank" title="{% trans 'View on admin' %}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
</div>
{% endblock content %}